
.stApp{
    background-color:#E8F8F9;
}


h1{
    color:#0F4C81 !important;
    text-align:center;
    font-weight:bold;
}

h2,h3{
    color:#1565C0 !important;
}

p, label, span, div{
    color:#263238;
}
.filter-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
}

.filter-container label {
    font-size: 17px;
    font-weight: bold;
}

.filter-container select {
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

div[data-testid="stMarkdownContainer"]{
    color:#263238 !important;
}


div[data-testid="metric-container"]{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.12);
    border-left:6px solid #1976D2;
}


div[data-testid="metric-container"] label{
    color:#455A64 !important;
    font-weight:bold;
}


div[data-testid="metric-container"] div{
    color:#0F4C81 !important;
    font-weight:bold;
}


section[data-testid="stSidebar"]{
    background:#0F4C81;
}


section[data-testid="stSidebar"] *{
    color:rgb(22, 21, 21) !important;
}
/* Dropdown selected text */
section[data-testid="stSidebar"] .stSelectbox div[data-baseweb="select"] * {
    color: #000000 !important;
}

/* Date input text */
section[data-testid="stSidebar"] .stDateInput input {
    color: #000000 !important;
}

/* Number input text */
section[data-testid="stSidebar"] .stNumberInput input {
    color: #000000 !important;
}


.stButton>button{
    background:#1976D2;
    color:white !important;
    border-radius:10px;
    height:50px;
    width:100%;
    font-size:18px;
    border:none;
}

.stButton>button:hover{
    background:#1565C0;
}


.stSelectbox label,
.stDateInput label{
    color:#263238 !important;
    font-weight:bold;
}


.stAlert{
    color:#263238 !important;
}


thead tr th{
    background:#1976D2 !important;
    color:white !important;
}


footer{
    visibility:hidden;
}