/* Main Background */
.stApp {
    background-color: hsl(182, 78%, 86%);
}

/* Header */
h1 {
    color: #ecf0f4;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: #010a0f;
}

/* Metric Cards */
div[data-testid="metric-container"]{
    background: white;
    border-radius:15px;
    padding:20px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.12);
    border-left:6px solid #1E88E5;
}

/* Sidebar */
section[data-testid="stSidebar"]{
    background:#f1a0e9;
    color:white;
}

/* Buttons */
.stButton>button{
    background:#1976D2;
    color:white;
    border-radius:10px;
    height:50px;
    width:100%;
    font-size:18px;
    border:none;
}

.stButton>button:hover{
    background:#1565C0;
}

/* Tables */
thead tr th{
    background:#1976D2 !important;
    color:white !important;
}

/* Footer */
footer{
    visibility:hidden;
}